.page {
    font-family: var(--font-family, monospace);
    letter-spacing: var(--letter-spacing);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    background: var(--bg-color);
    background-image: var(--bg-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__rec {
    position: absolute;
    top: var(--general-margin);
    text-transform: uppercase;
    color: var(--accent-color);
    margin-right: calc(var(--general-margin) + 28px);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    line-height: 1.5625rem;
}

.header__rec::after {
    position: absolute;
    top: 10px;
    right: -19px ;
    content: '';
    color: var(--accent-color);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: var(--accent-color);
    box-shadow: 0 0 3px 2px var(--accent-color);
}

.header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--header-gap);
    justify-items: end;
    align-items: center;
    height: 100vh;
    min-height: var(--page-height);
    padding: var(--general-margin);
}

.decorated-zone::before {
    content: '';
    position: absolute;
    top: var(--general-margin);
    right: var(--general-margin);
    width: 25px;
    height: 25px;
    border-right: 1px solid var(--accent-color);
    border-top: 1px solid var(--accent-color);
}

.decorated-zone::after {
    content: '';
    position: absolute;
    bottom: var(--general-margin);
    left: var(--general-margin);
    width: 25px;
    height: 25px;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu {
    margin-top: 60px;
}

.header__theme-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header__theme-menu-item {
    border: 1px solid transparent;
}

.header__theme-menu-button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    font-size: var(--main-font-size);
    text-transform: lowercase;
    color: var(--button-color, #FF0070);
    line-height: 1.125rem;
    padding: 2px 13px 4px;
}

.header__theme-menu-button:focus-visible {
    outline: none;
    border-bottom:  1px solid var(--accent-color);
}

.header__theme-menu-button_active {
    pointer-events: none;
    border:  1px solid currentColor;
}

.header__theme-menu-button:hover
{
    border:  1px solid var(--accent-color-hover);
}


.title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: var(--header-font-weight);
    color: var(--header-title-color);
    text-shadow: 4px 4px 0 var(--title-accent-color);
    line-height: 82.5%;
    text-transform: lowercase;
}

.header__title {
    display: flex;
    justify-content: space-between;
}

.header__title-paragraph {
    display: block;
    color: var(--subtitle-color);
    background-color: var(--title-bg-color);
    font-size: var(--main-font-size);
    font-weight: var(--header-font-weight);
    line-height: 1.4625rem;
    margin-bottom: var(--header-title-paragraph-margin);
    max-width: var(--header-title-paragraph-width);
}

.main {
    margin: var(--margin-top) var(--general-margin) 0 var(--general-margin);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--main-gap);
}

.main__section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main__section-title {
    color: var(--main-section-title-color);
    font-size: var(--main-font-size);
    font-weight: bold;
    line-height: 1.4625rem;
    text-align: start;
}

.main__article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.main__article__subsection {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.main__section-subtitle {
    background-color: var(--subltitle-bg-color);
    color: var(--subtitle-color);
    font-weight: bold;
    font-size: var(--main-font-size);
    line-height: 1.4625rem;
    text-align: start;
}

.main__section__paragraph-subtitle {
    margin-top: 10px;
    background-color: var(--subltitle-bg-color);
    color: var(--subtitle-color);
    font-weight: normal;
    font-size: var(--main-font-size);
    line-height: 1.4625rem;
    text-align: start;
}

.main__section-paragraph {
    font-size: var(--main-font-size);
    font-weight: normal;
    color: var(--paragraph-text-color, #F1B2CE);
    line-height: 1.4625rem;
    text-align: start;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.footer {
    position: relative;
    margin-top: var(--margin-top);
    padding: var(--general-margin);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: var(--page-height);
}

.footer__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.paragraph__text-link {
    text-shadow: 2px 2px 0 var(--paragraph-text-link-color);
    text-decoration: none;
}

.paragraph__text-link:hover {
    border-bottom: 1px solid var(--paragraph-text-color);
    text-underline-offset: 4px;
}

.paragraph__text-link:focus-visible {
    outline: none;
    border: 1px solid var(--paragraph-text-color);
}

@media (width >= 768px) {
    :root {
        --page-height: 1024px;
        --general-margin: 20px;
        --header-gap: 170px;
        --header-title-paragraph-width: 364px;
        --header-title-paragraph-margin: 80px;
        --header-last-child-margin: 163px;
        --main-padding-top: 80px;
        --main-gap: 80px;
        --margin-top: 60px;
    }

    .header {
          gap: 0;
    }

    .header__theme-menu {
        margin-top: 85px;
    }

    .header__title {
        justify-self: self-start;
        margin-left: calc(-1 * var(--general-margin));
    }

    .main {
        display: grid;
        grid-template-rows: repeat(3, max-content);
        gap: 80px;
    }

    .main__section {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .main__section-title {
        grid-column: 1 / auto;
    }

    .main__article {
        grid-column: 2 / auto;
    }

    .modified__section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .modified__section .main__section-title {
        grid-column: 1 / auto;
        max-width: calc((100% - 40px) / 3);
    }

    .modified__section .main__article {
        grid-column: 1 / auto;
    }

    .gallery {
        gap: 20px;
    }

    .gallery__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        min-height: 780px;
        justify-content: stretch;
        align-items: stretch;
    }

    .gallery__img-sunset {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }

    .gallery .gallery__img-ice {
        grid-column: 3 ;
        grid-row: 1 / span 2;
    }

    .gallery__img-tape {
        grid-column: 1 ;
        grid-row: 2 / span 2;
    }

    .gallery__img-books {
        grid-column: 2 ;
        grid-row: 2 ;
    }

    .gallery__img_street {
        grid-column: 2 / span 2;
        grid-row: 3 / 3;
    }
}

@media (width >= 1024px) {
    :root {
        --main-gap: 60px;
        --page-height: 768px;
        --general-margin: 20px;
        --header-title-paragraph-width: 491px;
    }

    .header__theme-menu {
        margin-top: 0;
        justify-self: center;
        align-self: flex-start;
    }

    .header__theme-menu-list {
        display: flex;
        flex-direction: row;
    }

    .title {
        font-size: 157px;
    }

    .header__title {
        align-self: flex-end;
    }

    .header__title-paragraph {
        margin-bottom: 50px;
        margin-top: 55px;
    }

    .main__section {
        column-gap: 10px;
        row-gap: 20px;
    }

    .modified__section .main__article {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
}