/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
    --page-height: 668px;
    --bg-image: url(../images/cover-image.png);
    --font-family: 'IBM Plex mono';
    --color-black: #000028;
    --accent-color: #FF0070;
    --paragraph-text-color: #F1B2CE;
    --accent-color-hover: rgba(255,0,112, 0.4);
    --page-padding: 10px;
    --header-margin-top: 10px;
    --general-margin: 10px;
    --margin-top: 50px;
    --main-font-size: 1.125rem;
    --main-font-weight: regular;
    --header-font-weight: bold;
    --letter-spacing: 0;
    --header-title-color: #DB00FF;
    --title-accent-color: var(--accent-color);
    --header-title-paragraph-bg-color: var(--accent-color);
    --header-title-paragraph-margin: 50px;
    --header-title-paragraph-height: 117px;
    --header-row-gap: 10px;
    --title-bg-color: var(--title-accent-color);
    --bg-color: var(--color-black);
    --subtitle-color: var(--color-black);
    --subltitle-bg-color: var(--title-accent-color);
    --paragraph-text-link-color: var(--accent-color);
    --main-section-title-color: var(--accent-color);
    --button-color: var(--accent-color);
    --header-gap: 55px;
    --header-last-child-margin: 70px;
    --main-padding-top: 30px;
    --main-gap: 50px;
}